.header__link {
  flex-shrink: 0;
}

.header-logo {
  transition: all 0.4s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.sitenav__list {

  &-link {

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(../../assets/images/phone-call.png);
      position: relative;
      top: 5px;
      margin-right: 10px;
    }

  }

  &-line {
    height: 22px;
    width: 1px;
    background: #00094A;
  }

  &-dark {
    background: #000000;
    max-width: 100px;
    width: 100%;
    color: #ffff;
    padding: 10px 5px;
    border-radius: 5px;
    transition: all 0.4s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &-select {
    background: none;
    text-transform: uppercase;
    border: transparent;

    &:focus {
      outline: none;
      border: transparent;
    }
  }

  &-btn {
    transition: all 0.4s;
  }

  &-btn:hover {
    opacity: 0.7;
  }

  &-btn:active {
    opacity: 0.7;
  }

}

.sitenav__item {
  margin-left: 40px;
}

.header__hamburger {
  display: flex;
  align-items: center;
  display: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

}

.header__hamburger-img {
  background: none;
  border: transparent;
  width: 17px;
  height: 12px;
  background-image: url(../../assets/images/hamburger.png);
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

@media only screen and (max-width: 790px){

  .header {
    position: relative;
  }

  .sitenav {
    display: none;
  }

  .header__hamburger {
    display: inline-block;
  }

  .header--open .sitenav {
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .header--open .sitenav__item {
    display: none;
  }

  .header--open .sitenav__item-active {
    display: inline-block;
    margin: 0;
  }

  .header--open .header__hamburger-img {
    background-image: url(../../assets/images/closed.png);
    background-size: contain;
  }

}